BODY
{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: Black;
}

nav.menu {
    overflow: hidden;
    background-color: grey;
}

    a.left {
        float: left;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    a.right {
        float: right;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
        color: white;
        text-decoration: none;
        padding: 20px;
    }

    form.left {
        float: left;
        text-align: center;
        padding: 20px;
        margin: 0px;
    }

        a.active {
            background-color: greenyellow;
        }

        a:hover {
            background-color: greenyellow;
        }

.parallax {
    background-image: "images/MeetUp_LandingPage_DowntownCity.jpg";
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.landing {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 2px;
}

h2.landing {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

h3.landing {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    text-align: left;
    color: greenyellow;
    margin-top: 0px;
    margin-bottom: 10px;
}

h1.bold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
    color: greenyellow;
    margin-top: 30px;
    margin-bottom: 25px;
}

h2.bold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    text-align: left;
    color: greenyellow;
    margin-top: 0px;
    margin-bottom: 50px;
}

b.bold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    color: greenyellow;
    margin-top: 30px;
    margin-bottom: 30px;

}

p.bold {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-align: left;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

p.intent {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

input.intent {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: gray;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

input.eyepop {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}

textarea.eyepop {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}

input.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    width: 100px;
}

textarea.intent {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

button.intent{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 0px;
    height: 50px;
    width: 100px;
}

button.log{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    font-size: 25px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 80px;
    height: 100px;
    width: 200px;
}

input.eyepop.radio{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    margin-top: 0px;
    margin-bottom: 0px;
}

.searchbar {
    margin-top: 20px;
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
}

.transbox {
    height: 190px;
    width: 550px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.6);
    padding-top: 20px;
}

.login {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    text-align: left;
}

.landing-about {
    height: 150px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.6);
    margin-top: 500px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-box {
    height: 300px;
    width: 450px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.8);
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

form.login {
    margin: 20px;
    text-align: left;
}

.login-title {
    margin-top: 120px;
    font-weight: bold;
}

label.login-form {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    text-align: left;
    color: greenyellow;
}

div.result {
    color: white;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

    p.rtitle {
        font-weight: bolder;
        font-size: 30px;
    }

    p.rbody {
        font-size: 20px;
    }

button.login-form {
    margin: 20px;
}

.editable-fields{
    display: flex;
    height: 100%;
    width: 300px;
    align-self: center;
    background-color: rgba(128, 128, 128, 0.6);
    margin-top: 0px;
    margin-left: 500px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 0px;
    padding-bottom: 50px;
}

.current-data{
    display: flex;
    
    height: 82.2%;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.6);
    margin-top: 0px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.editable-fields {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    flex-direction: right;
    margin-right: 30px;
    margin-top: 12px;
}

.event{
    display: flex;
    margin-left: 35%;
    color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.eventfields{
    display: flex;
    font-size: 17px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.eventheading {
    padding-top: 10px;
    text-align: center;
    color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.allencompasing{
    background-color: rgba(128, 128, 128, 0.6);
}

.result {
    margin-top: 20px;
    margin-left: 25%;
    background-color: rgba(128, 128, 128, 0.6);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 200px;
    width: 50%;
}

p.res{
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

p.resTitle{
    color:greenyellow;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.mapsearch{
    position: relative;
    text-align: center;
    color: white;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.res{
    color:greenyellow;
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}