BODY
{
    height: 100%;
    width: 100%;
}

h1.landing {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 2px;
}

h2.landing {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

h3.landing {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
}

.searchbar {
    margin-top: 12px;
}

.login {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    text-align: left;
}

.topnav {
    display: inline-block;
    background-color: grey;
    overflow: hidden;
    width: 73%;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

    .topnav ul {
        list-style-type: none;
        margin-top: 10px;
        padding: 0px;
        overflow: hidden;
        width: 100px;
        background-color: blue;
    }

    .topnav li {
        display: inline;
        text-align: center;
        float: left;
        width: 200px;
        height: 25px;
    }

    .topnav li input{
        width: 200px;
        height: 25px;
    }

    .topnav a {
        display: block;
        width: 200px;
        height: 25px;
        font-size: 24px;
        color: white;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        float: left;
        margin-top: 10px;
    }

        .topnav a:hover {
            background-color: #8eed71;
            color:white;
        }

    .topnav last-child {
        border-right: none;
    }

    .topname {
        display: block;
        width: 200px;
        height: 25px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        float: left;
    }


.topnav-Right {
    display: inline-block;
    float: right;
    background-color: grey;
    overflow: hidden;
    width: 27%;
    height: 50px;
    margin: 0px;
    padding: 0px;
}

    .topnav-Right ul {
        list-style-type: none;
        margin-top: 10px;
        padding: 0px;
        overflow: hidden;
        width: 100px;
        background-color: blue;
    }
 
    .topnav-Right li {
        display: inline;
        text-align: center;
        float: left;
        width: 200px;
        height: 25px;
    }

    .topnav-Right a {
        display: block;
        width: 200px;
        height: 25px;
        font-size: 24px;
        color: white;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        float: left;
        margin-top: 10px;
    }

        .topnav-Right a:hover {
            background-color: #8eed71;
            color: white;
        }

    .topnav-Right last-child {
        border-right: none;
    }


.editable-fields{
    display: flex;
    width: 50%;
    align-content: center;
    height: 100%;
}